<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyLogger</title>
</head>
<body>
  <h1>Study Logger</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Date</th>
        <th>Subject</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through the sessions and display each row -->
      <% sessions.forEach(sessions => { %>
        <tr>
            <td><%= sessions.session_date %></td>
            <td><%= sessions.session_subject %></td>
            <td><%= sessions.session_starttime %></td>  
            <td><%= sessions.session_endtime %></td>
            <td><%= sessions.session_duration %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
